:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --type-color-earth:rgb(131, 76, 5);
  --type-color-ligth:yellow;
  --type-color-water:rgb(38, 115, 202);
  --type-color-fire:rgba(216, 73, 73, 0.966);
  --type-color-psychic:#ec3c7c;
}
body{
  background-color: rgb(167, 170, 172);
}
.container{
  width:95vw;
  height: 80vh;
/*   background-color: aquamarine;
 */  align-items: center;
  margin: auto;
}
.searach{
  width:95vw;
  height: 15vh;
/*   background-color: green; */
  align-items: center;
  margin: auto;
}
